.chat-room{
    & .chatblock-thumb{
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    & .message-form{
        position: relative;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        
        display: flex;
        align-items: center;
        padding-left: 24px;
        background-color: $meaage-field-color;
        & .message{
            width: 258px;
            height: 39px;
            border: none;
            background-color: transparent;

            font-family: 'Inter', sans-serif;
            font-style: italic;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: black;

            &::placeholder{
                font-family: 'Inter', sans-serif;
                font-style: italic;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                color: #DDA9A9;
            }
            &:focus{
                outline: none;
            }
        }
        & .send-message-button{
            padding: 0;
            margin-left: 10px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
        }
    }
    & .message-block-oun{
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-end;
    }
    & .message-block-other{
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
    }
    & .message-text-block{
        overflow: auto;
        max-width: 70%;
        border-radius: 15px;
        background-color: #fff;
        display: inline-block;
        padding: 10px 10px;

        font-family: 'Inter', sans-serif;
        font-style: italic;
        font-weight: 500;
        font-size: 13px;
        line-height: 12px;
        color: black;
    }

    & .chatblock{
        padding: 10px;
    }
}