.header{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 100%;

    background-color: $header-bacoground-color;
    &__title{
        margin-right: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'Inter', sans-serif;
        font-style: italic;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
}