.login-form{
    margin-top: 180px;
    justify-content: center;
    &__input{
        width: 208px;
        height: 39px;
        

        border-radius: 15px;
        background-color: #EDCFCF;
        border: none;
    }
}